.layout {
  margin: 0 auto;
  width: 1000px;
  height: 850px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.detailImg {
  width: 30%;
  height: 50%;

  border-radius: 10px;
}

.detailExplain {
  color: white;
  width: 500px;
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.detailDescription {
  font-size: 1.5rem;
}

.detail_title {
  font-size: 3rem;
}
.detail_rating {
  font-size: 1.5rem;
}
.detail_runtime {
  font-size: 1.5rem;
}
