.layout {
  box-sizing: border-box;
  width: 100%;
  height: 20%;
}
.nav {
  display: flex;
  justify-content: flex-end;
}
.nav li {
  margin: 10px;
  list-style: none;
}
.link {
  text-decoration: none;
}
