.layout {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.nav {
  display: flex;
  justify-content: flex-end;
}
.nav li {
  margin: 10px;
  list-style: none;
}
.homelink {
  text-decoration: none;
  font-size: 3rem;
  font-weight: 600;
}
.homelink > span:nth-child(1) {
  color: blueviolet;
}
.homelink > span:nth-child(2) {
  color: aquamarine;
}
.homelink > span:nth-child(3) {
  color: violet;
}
.homelink > span:nth-child(4) {
  color: tomato;
}

.link {
  font-size: 1.2rem;
  color: rgb(29, 191, 212);
  text-decoration: none;
}

.link:hover {
  color: rgb(9, 77, 137);
}
